@namespace EverettEats
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing
@using EverettEats.Components.Layout

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(MainLayout)">
            <div class="notebook-page not-found-page">
                <div class="not-found-content">
                    <div class="not-found-icon">📖</div>
                    <h1 class="not-found-title">Page Not Found</h1>
                    <p class="not-found-message">
                        <span>Looks like this recipe page got lost in the kitchen!</span>
                        <span>The page you're looking for doesn't exist or may have been moved.</span>
                    </p>
                    <a href="/" class="back-home-link">← Back to Recipes</a>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
